@use '../../styles/globalStyles/global.scss' as *;

.posts_block{
    gap: 0.5vw;
    
    @include box(100%);
    @include flex__box(column, center, center);

    @media screen and (max-width: 800px) {
        width: 95%;
        padding: 5vw 2.5%;
    }
}


.control_box{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;

    @media screen and (max-width: 800px) {
        width: 80%;
    }

    & input{
        width: 80%;
    }
}

.select_container{
    width: 40%;
    display: flex;
    background-color: #3333;
    align-items: center;
    outline: 2px solid $color3;
    outline-offset: -2px;
    border-radius: 20px;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
        width: auto;
        align-items: stretch;
    }

    & .select_name{
        padding-left: 2.5%;
        text-align: center;
        cursor: default;
        color: #FFF;
        font-size: clamp(1em, 1vw, 1vw);

        @media screen and (max-width: 800px) {
            padding-left: 3%;
            align-self: center;
        }
    }

    & select{
        background-color: unset;
        padding: 0.5vw 10%;

        @media screen and (max-width: 800px) {
            padding: 2vw 0;
            padding-left: 3%;
            border-radius: 0px 20px 20px 0px;
        }
    }
}