@use '../../../styles/globalStyles/global.scss' as *;

.select {
    border-radius: 20px;
    padding: 0.3vw 2.5%;
    background-color: #3333;
    outline: 2px solid $color3;
    outline-offset: -2px;
    color: #FFF;
    cursor: pointer;
    transition: .4s;

    & option{
        color: $color1;
    }

    &:hover {
        background-color: #3337;
    }
}