@use '../../styles/globalStyles/global.scss' as *;

.modal_block{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba( #000000,  0.5);
    z-index: 990;

    @include box(100vw, 0, 100dvh);
    @include flex__box(row, center, center);
}

.modal_box{
    position: relative;
    padding: 1vw 2.5%;
    overflow-y: scroll;
    background-color: #FFF;
    border-radius: 20px;
    gap: 3%;

    @include box(80%, 2.5%, 85dvh);
    @include flex__box(row, flex-start, center);
    
    &::-webkit-scrollbar{
        display: none;
    }
}

.closer{
    @include closer__btn();
}

.wrapper_img{
    border-radius: 20px;

    @include img_box(50%, auto);

    & img{
        border-radius: 20px;
    }
}


.dog_info_box{
    padding-top: 2vw;
    gap: 1vw;

    @include box(45%);
    @include flex__box(column);
}

.field_info{
    gap: 0.3vw;

    @include box(100%);
    @include flex__box(column);

    & .field_info_name{
        text-transform: uppercase;

        @include text(110%, 800, #000);
    }

    & span{
        display: inline-block;
        letter-spacing: 2px;

        @include text(110%, 400, #000);
    }
}