@use '../../../styles/globalStyles/global.scss' as *;

.modal_block {
    position: fixed;
    top: 0dvh;
    left: 0;
    z-index: 990;


    @include box(100vw, 0, 100dvh);
    @include flex__box(row, center, center);
}

.modal_mask {
    position: absolute;
    background-color: rgba(#000000, 0.5);
    z-index: 1;

    @include box(100%, 0, 100%);
}

.modal_box {
    position: relative;
    padding: 1vw 2.5%;
    overflow-y: scroll;
    background-color: #FFF;
    border-radius: 20px;
    gap: 3%;
    z-index: 2;

    @include box(80%, 2.5%, 85dvh);
    @include flex__box(row, flex-start, center);

    &::-webkit-scrollbar {
        display: none;
    }

    @media screen and (max-width: 800px) {
        flex-direction: column;
        justify-content: flex-start;
        gap: 5vw;
        width: 95%;
        padding: 0 2.5%;
    }
}

.closer {
    @include closer__btn();

    @media screen and (max-width: 800px) {
        right: 2.5vw;
        top: 1.5vw;
    }
}

.wrapper_img {
    border-radius: 20px;

    @include img_box(50%, auto);

    @media screen and (max-width: 800px) {
        margin-top: 15vw;
    }

    & img {
        border-radius: 20px;
    }
}


.dog_info_box {
    padding-top: 2vw;
    gap: 1vw;

    @include box(45%);
    @include flex__box(column);

    @media screen and (max-width: 800px) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2vw 5%;
        padding-bottom: 5vw;
    }
}

.field_info {
    gap: 0.3vw;
    
    @include box(100%);
    @include flex__box(column);
    
    @media screen and (max-width: 800px) {
        width: 45%;
    }

    & .field_info_name {
        text-transform: uppercase;

        @include text(110%, 800, #000);
    }

    & span {
        display: inline-block;
        letter-spacing: 2px;

        @include text(110%, 400, #000);
    }
}